.box-header{
    display: flex;
}

#form-builder-pages {
    .form-builder {
        .nav {
            .ui-tabs-active {
                a {
                    color: #444;
                    background-color: #f7f7f7;
                }
            }
            #add-page-tab {
                a:focus {
                    color: #555555;
                    background-color: transparent;
                }
            }
        }
        .fb-editor {
            background-color: #fff;
            .form-wrap {
                .stage-wrap {
                    height:508px;
                    border: 3px dashed #ccc;
                    overflow-y: scroll;
                }
                .cb-wrap {
                    .get-data {
                        display:none;
                    }
                }
            }
        }
    }
}

#answers-pages {
    border: 1px solid #ddd;
    background-color: #fff;
    margin:10px;
    .render-answer {
        .nav {
            a.active {
                color: #555555;
                cursor: default;
                background-color: #fff;
                border: 1px solid #ddd;
                border-bottom-color: transparent;
            }
        }
        .nav.active {
            a {
                color: #3c8dbc;
                cursor: pointer;
                background-color: transparent;
                border: none;
            }
        }
        .tab-content {
            .tab-pane.active {
                opacity: 1;
            }
        }
    }
}


